body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('https://imgs.search.brave.com/RNQoqsJj6I_ahLAlGKc17JpejuuqY8iHZaOPrtocLkk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDI2OTg1/MDcuanBn') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff; /* Червоний колір тексту */
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #555;
}

h1, h2, h3 {
    color: #ffffff; /* Червоний колір для заголовків */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff; /* Червоний колір для тексту в основному контенті */
}

section {
    margin-bottom: 20px;
}

.hero {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* Червоний колір для тексту у блоках героїв */
}

.hero img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.hero-description h3 {
    margin: 0 0 10px 0;
    color: #ffffff;
}

.hero-description p {
    margin: 0;
    color: #ffffff;
}

.zagolovok {
    text-align: center;
}